@use "@/styles/variables" as *;

.mainContent {
  position: relative;
  padding-top: 100px;
  padding-left: 283px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fbfbfb;
  padding-right: 0px;
  padding-bottom: 60px;

  @media (max-width: 1200px) {
    padding-right: 30px;
  }

  @media (max-width: 1024px) {
    padding-left: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
}
