@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
